@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* Order */
@layer reset, primevue;

html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-menubar {
  @apply flex items-center justify-between;
}

.p-menubar.custom-menubar {
  @apply bg-gray-800 border-gray-700;
}
